.feedback-btn {
  background-color: #096dd9 !important;
  color: #ffffff !important;
  padding: 16px !important ;
  font-size: 16px !important ;
  border: none !important ;
  border-radius: 10px !important ;
  cursor: pointer !important ;
  /* font-weight: bold !important; */
  z-index: 10000000 !important ;
  position: fixed !important ;
  right: 50px !important ;
  bottom: 20px !important ;
  display: inline-block !important ;
}

/* feedback button on hover & focus */
.feedback-btn:hover,
.feedback-btn:focus {
  border: none !important ;
  outline: none !important;
}

.my-widget {
  position: fixed !important ;
  right: 50px !important ;
  bottom: 20px !important ;
  z-index: 10000000 !important ;
  display: inline-block !important ;
}

/* my-widget Content (Hidden by Default) */
.my-widget-content {
  display: none !important ;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  height: 250px;
  border-radius: 16px;
  min-width: 400px;
  background: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  left: -20px;
  top: -50px;
  box-shadow: 0 18px 50px -10px rgba(0, 0, 0, 0.2);
}

.input-box {
  color: rgb(160, 169, 184) !important ;
  font-weight: 500 !important ;
  word-break: break-word !important ;
  font-size: 1rem !important ;
  height: 90px !important ;
  width: 90% !important ;
  padding: 0.7rem !important ;
  border-radius: 10px !important ;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important ;
  border: 2px rgb(226, 232, 240) solid !important ;
  z-index: 10000000 !important ;
}

textarea {
  overflow: auto !important ;
}

.close-btn {
  padding: 0 !important ;
  border: none !important ;
  background-color: transparent !important ;
  border-radius: 4px !important ;
  display: inline-flex !important ;
  justify-content: center !important ;
  align-items: center !important ;
  color: #a0aec0 !important ;
  width: 1.5rem !important ;
  height: 1.5rem !important ;
  cursor: pointer !important ;
  position: absolute !important ;
  right: 1rem !important ;
  top: 1.5rem !important ;
  z-index: 10000000 !important ;
}

.close-btn:focus {
  outline: none !important;
}

.submit {
  width: 95% !important ;
  margin-top: 1rem !important ;
  background-color: rgb(237, 242, 247) !important ;
  color: rgb(160, 174, 192) !important ;
  padding: 0.35rem !important ;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 0.9rem !important ;
  cursor: initial !important ;
  border-radius: 7px !important ;
}

.submit-onfocus {
  cursor: pointer !important ;
  background-color: #096dd9 !important ;
  color: #ffffff !important ;
}

.input-box:focus {
  outline: none !important;
  border-radius: 10px !important ;
  border: 2px solid #096dd9 !important;
}

/* Change color of my-widget links on hover */
.my-widget-content a:hover {
  background-color: #ddd !important ;
}

/* Show the my-widget menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block !important ;
}
